body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

/*=========================================================
# insta-button
=========================================================*/
.insta-button {
  display: block;
}

.insta-button a {
  background-image: url(../../images/icon_insta.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 2.35rem;
  margin: 0 auto;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 8.3rem;
}

.insta-button a:hover {
  background-image: url(../../images/icon_insta_hover.svg);
}

.insta-button a::after {
  background-image: url(../../images/icon_insta_hover-part.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 1.1rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 0.9rem;
}

.insta-button a:hover::after {
  opacity: 1;
}

/*=========================================================
# map
=========================================================*/
.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

.map__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 50%;
}

.map__title img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100vw;
  margin-left: calc(50% - 50VW);
  margin-right: calc(50% - 50VW);
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========================================================
# area-sec
=========================================================*/
.area-sec__inner.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.area-sec__item.area-sec__item--top01 {
  margin-top: 10.3rem;
}

.area-sec__item.area-sec__item--top02 {
  margin-top: 10.1rem;
}

.area-sec__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.1rem;
  margin-right: auto;
}

.area-sec__wrap.area-sec__wrap--syoutengai {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 5.6rem;
}

.area-sec__wrap.area-sec__wrap--gotokuji {
  gap: 11.5rem;
}

.area-sec__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
}

.area-sec__title {
  font-size: 1.9rem;
  letter-spacing: 0.05em;
  padding: 0 0;
  min-height: 4.55rem;
  display: block;
  place-content: center;
  position: relative;
}

.area-sec__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.2rem;
  height: 4.55rem;
  background-image: url(../../images/icon_left-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.2rem;
  height: 4.55rem;
  background-image: url(../../images/icon_right-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__text {
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-top: 4rem;
  text-align: justify;
}

.area-sec__button {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.area-sec__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  margin-right: calc(50% - 50vw);
  padding-left: 3rem;
}

.area-sec__right::after {
  content: "";
  position: absolute;
  top: -66px;
  right: 3.05px;
  width: 8.55rem;
  height: 7.05rem;
  background-image: url(../../images/yamashita_cat.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__right.area-sec__right--syoutengai {
  margin-right: auto;
  margin-left: calc(50% - 50vw);
  padding-right: 3rem;
  padding-left: 0;
}

.area-sec__right.area-sec__right--syoutengai::after {
  top: auto;
  bottom: 7px;
  right: -25px;
  width: 5.6rem;
  height: 8.75rem;
  background-image: url(../../images/syoutengai_cat.png);
}

.area-sec__right.area-sec__right--gotokuji::after {
  top: -74px;
  right: auto;
  left: -6px;
  width: 13.55rem;
  height: 11rem;
  background-image: url(../../images/gotokuji_cat.png);
}

.area-sec__right img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 50px;
}

.area-sec__right.area-sec__right--syoutengai img {
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
}

.area-sec__sns {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 5.95rem;
}

/*=========================================================
# top-map
=========================================================*/
.top-map {
  margin-top: 5.9rem;
}

/*=========================================================
# top-map
=========================================================*/
.top-area {
  margin-top: 8rem;
}/*# sourceMappingURL=index_sp.css.map */