body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

/*=========================================================
# insta-button
=========================================================*/
.insta-button {
  display: block;
}

.insta-button a {
  background-image: url(../../images/icon_insta.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 4.7rem;
  margin: 0 auto;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 16.6rem;
}

.insta-button a:hover {
  background-image: url(../../images/icon_insta_hover.svg);
}

.insta-button a::after {
  background-image: url(../../images/icon_insta_hover-part.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 2.2rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 1.8rem;
}

.insta-button a:hover::after {
  opacity: 1;
}

/*=========================================================
# map
=========================================================*/
.map__inner.inner {
  max-width: 1068px;
  width: 100%;
  margin: 0 auto;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}

.map__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.map__title img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========================================================
# area-sec
=========================================================*/
.area-sec__inner.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.area-sec__item.area-sec__item--top01 {
  margin-top: 29rem;
}

.area-sec__item.area-sec__item--top02 {
  margin-top: 30.3rem;
}

.area-sec__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(5px, 8vw, 121px);
  margin-right: calc(50% - 50vw);
}

.area-sec__wrap.area-sec__wrap--syoutengai {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: calc(50% - 50vw);
  margin-right: auto;
}

.area-sec__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
  text-align: center;
}

.area-sec__title {
  font-size: clamp(15px, 2vw, 30px);
  letter-spacing: 0.05em;
  padding: 1.05rem 0;
  min-height: 7.3rem;
  display: block;
  place-content: center;
  position: relative;
}

.area-sec__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.2rem;
  height: 7.3rem;
  background-image: url(../../images/icon_left-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.2rem;
  height: 7.3rem;
  background-image: url(../../images/icon_right-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__text {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-top: 4.2rem;
  text-align: justify;
}

.area-sec__button {
  margin-top: 3.1rem;
  margin-left: auto;
  margin-right: auto;
}

.area-sec__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62%;
          flex: 0 1 62%;
  position: relative;
}

.area-sec__right::after {
  content: "";
  position: absolute;
  top: -110px;
  right: 80px;
  width: 13.6rem;
  height: 11.3rem;
  background-image: url(../../images/yamashita_cat.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__right.area-sec__right--syoutengai::after {
  top: auto;
  bottom: 7px;
  right: -85px;
  width: 9.1rem;
  height: 14.1rem;
  background-image: url(../../images/syoutengai_cat.png);
}

.area-sec__right.area-sec__right--gotokuji::after {
  top: -140px;
  right: auto;
  left: -35px;
  width: 21.7rem;
  height: 17.7rem;
  background-image: url(../../images/gotokuji_cat.png);
}

.area-sec__right img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 50px;
}

.area-sec__right.area-sec__right--syoutengai img {
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
}

.area-sec__sns {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 10.2rem;
}

/*=========================================================
# manekineko
=========================================================*/
.manekineko__item {
  background-image: url(../../images/manekineko_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-top: 7.4rem;
  padding-bottom: 7rem;
}

.manekineko__item-img {
  max-width: 119.3rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.manekineko__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.manekineko__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

/*=========================================================
# info
=========================================================*/
.info__head-img {
  width: 100vw;
  height: 500px;
  margin: 0 calc(50% - 50vw);
  -o-object-fit: cover;
     object-fit: cover;
}

.info__head-img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__title {
  font-family: "Kaisei HarunoUmi", serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.1rem;
  font-size: 4.8rem;
  font-weight: 400;
}

.info__text {
  text-align: center;
  margin-top: 6.1rem;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  line-height: 2.25;
}

/*=========================================================
# top-map
=========================================================*/
.top-map {
  margin-top: 11rem;
}

/*=========================================================
# top-area
=========================================================*/
.top-area {
  margin-top: 10.7rem;
}

/*=========================================================
# top-manekineko
=========================================================*/
.top-manekineko {
  margin-top: 18.3rem;
}

/*=========================================================
/*=========================================================
# top-info
=========================================================*/
.top-info {
  margin-top: 15.6rem;
}/*# sourceMappingURL=index.css.map */