body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# insta-button
=========================================================*/
.insta-button {
  display: block;
}

.insta-button a {
  background-image: url(../../images/icon_insta.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16.6rem;
  height: 4.7rem;
  margin: 0 auto;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.insta-button a:hover {
  background-image: url(../../images/icon_insta_hover.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 16.6rem;
  height: 4.7rem;
  margin: 0 auto;
}

.insta-button a::after {
  background-image: url(../../images/icon_insta_hover-part.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 2.2rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 1.8rem;
}

.insta-button a:hover::after {
  opacity: 1;
}

/*=========================================================
# map
=========================================================*/
.map__inner.inner {
  max-width: 114.5rem;
  width: 100%;
  margin: 0 auto;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.5rem;
}

.map__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
  aspect-ratio: 263/209;
  margin-top: -8.6rem;
}

.map__title img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.map__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74%;
          flex: 0 1 74%;
  aspect-ratio: 756/804;
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========================================================
# area-sec
=========================================================*/
.area-sec__inner.inner {
  max-width: 126rem;
  width: 100%;
  margin: 0 auto;
}

.area-sec__item.area-sec__item--top01 {
  margin-top: 29rem;
}

.area-sec__item.area-sec__item--top02 {
  margin-top: 30.3rem;
}

.area-sec__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(5px, 8vw, 121px);
  margin-right: calc(50% - 50vw);
}

.area-sec__wrap.area-sec__wrap--syoutengai {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: calc(50% - 50vw);
  margin-right: auto;
}

.area-sec__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.7%;
          flex: 0 1 35.7%;
  text-align: center;
  margin-top: -1.7rem;
}

.area-sec__title {
  font-size: clamp(15px, 2vw, 30px);
  letter-spacing: 0.02em;
  padding: 1.05rem 0;
  min-height: 7.3rem;
  display: block;
  place-content: center;
  position: relative;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.area-sec__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.2rem;
  height: 7.3rem;
  background-image: url(../../images/icon_left-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.2rem;
  height: 7.3rem;
  background-image: url(../../images/icon_right-parentheses.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.area-sec__text {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.045em;
  margin-top: 3.3rem;
  text-align: left;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  position: relative;
  z-index: 1;
}

.area-sec__button {
  margin-top: 4.1rem;
  margin-left: auto;
  margin-right: auto;
}

.area-sec__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64.3%;
          flex: 0 1 64.3%;
  position: relative;
}

.area-sec__img {
  aspect-ratio: 790/527;
}

.area-sec__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8rem;
}

.area-sec__right::after {
  content: "";
  position: absolute;
  top: -105px;
  right: 87px;
  width: 13.6rem;
  height: 11.3rem;
  background-image: url(../../images/yamashita_cat.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@-webkit-keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.area-sec__right.area-sec__right--syoutengai::after {
  top: auto;
  bottom: 0;
  right: -84px;
  width: 9.1rem;
  height: 14.1rem;
  background-image: url(../../images/syoutengai_cat.png);
}

.area-sec__right.area-sec__right--gotokuji::after {
  top: -138px;
  right: auto;
  left: -16px;
  width: 21.7rem;
  height: 17.7rem;
  background-image: url(../../images/gotokuji_cat.png);
}

.area-sec__right.area-sec__right--syoutengai .area-sec__img img {
  border-top-left-radius: 0;
  border-top-right-radius: 80px;
}

/*=========================================================
# manekineko
=========================================================*/
.manekineko__item {
  background-image: url(../../images/manekineko_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.manekineko__item-img {
  width: 100%;
  max-width: 125.5rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  aspect-ratio: 1195.5/345;
}

.manekineko__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.manekineko__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.1rem;
  z-index: 1;
  position: relative;
}

/*=========================================================
# info
=========================================================*/
.info {
  position: relative;
}

.info__head-img {
  width: 100vw;
  height: 50rem;
  margin: 0 calc(50% - 50vw);
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1500/500;
}

.info__head-img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__title h2 {
  font-family: "Kaisei HarunoUmi", serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 4.8rem;
  letter-spacing: 0.15em;
  font-weight: 400;
}

.info__text {
  text-align: center;
  margin-top: 4.1rem;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  line-height: 2.25;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.info__items {
  margin-top: 13.3rem;
  padding-bottom: 19.5rem;
}

.info__content {
  position: relative;
  padding-bottom: calc(70px - 0.2100840336 * (100vw - 1024px));
}

.info__content.info__content--02 {
  padding-bottom: 0;
}

.info__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(30px, 5.0666666667vw, 76px);
}

.info__content.info__content--02 .info__content-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: clamp(30px, 5.3333333333vw, 80px);
  margin-top: 6.2rem;
}

.info__content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62.75%;
          flex: 0 1 62.75%;
  margin-top: 2.9rem;
}

.info__content.info__content--02 .info__content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62.5%;
          flex: 0 1 62.5%;
  margin-top: 4.7rem;
  padding-bottom: 15rem;
}

.info__content-title {
  font-size: 2.4rem;
  line-height: 2;
  letter-spacing: 0.05em;
  font-weight: 500;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.info__content-text {
  font-size: 1.6rem;
  line-height: 2.25;
  letter-spacing: 0.15em;
  margin-top: 0.7rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.info__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.25%;
          flex: 0 1 37.25%;
  aspect-ratio: 420/420;
}

.info__content.info__content--02 .info__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.5%;
          flex: 0 1 37.5%;
}

.info__content-img {
  aspect-ratio: 420/420;
}

.info__content-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.info__item01 {
  position: absolute;
  bottom: 8.5rem;
  left: 25.2%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.info__item01-img {
  width: 43.4rem;
  aspect-ratio: 434/293;
  position: relative;
}

.info__item01-img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(140px at 50% 50%);
          clip-path: circle(140px at 50% 50%);
}

.info__item01-img::after {
  content: "";
  position: absolute;
  top: -0.3rem;
  left: 7.1rem;
  width: 29.2rem;
  height: 29.2rem;
  background-image: url(../../images/info_circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: 30s linear infinite rotation1;
          animation: 30s linear infinite rotation1;
}

.info__item01-comment {
  position: absolute;
  bottom: -4.5rem;
  right: -28.1rem;
}

.info__item01-title {
  font-size: 2rem;
  font-weight: 700;
  color: #a49a74;
  letter-spacing: 0.05em;
  position: relative;
}

.info__item01-title::after {
  position: absolute;
  content: "";
  top: -7.2rem;
  left: -2.8rem;
  width: 8rem;
  height: 6.2rem;
  background-image: url(../../images/icon_arrow01.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item01-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a49a74;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.info__item02 {
  margin-top: 21rem;
  padding-left: 6rem;
}

.info__item02-img {
  width: 32.8rem;
  aspect-ratio: 328/155;
}

.info__item02-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 2.7rem;
  z-index: 1;
  position: relative;
}

.info__content-link a {
  position: relative;
}

.info__content-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b82e04;
  left: 0;
  bottom: -0.5rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.info__content-link a:hover::after {
  background-color: #a49a74;
}

.info__icon {
  height: 1.5rem;
  width: 1.9rem;
  fill: #b82e04;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.info__content-link:hover .info__icon {
  fill: #a49a74;
}

.info__icon-img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.info__link-text {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  color: #b82e04;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.info__content-link:hover .info__link-text {
  color: #a49a74;
}

.info__item03 {
  position: absolute;
  content: "";
  bottom: -10.2rem;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.5rem;
  z-index: -1;
}

.info__item03-img {
  width: 53.8rem;
  aspect-ratio: 538/717;
  position: relative;
}

.info__item03-img::before {
  position: absolute;
  content: "";
  top: 53.5rem;
  left: -0.3rem;
  width: 13.65rem;
  height: 19.1rem;
  background-image: url(../../images/info_img06.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.info__item03-img.fade-in::before {
  opacity: 1;
  -webkit-animation-name: fadeDownAnime;
          animation-name: fadeDownAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes fadeDownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.info__item03-img::after {
  position: absolute;
  content: "";
  top: 41.5rem;
  left: 18.4rem;
  width: 29.2rem;
  height: 29.2rem;
  background-image: url(../../images/info_circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: 30s linear infinite rotation1;
          animation: 30s linear infinite rotation1;
}

.info__item03-img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(140px at 61% 78%);
          clip-path: circle(140px at 61% 78%);
}

.info__item03-comment {
  position: absolute;
  bottom: -9.4rem;
  left: 19rem;
}

.info__item03-title {
  font-size: 2rem;
  font-weight: 700;
  color: #a49a74;
  letter-spacing: 0.05em;
  position: relative;
}

.info__item03-title::after {
  position: absolute;
  content: "";
  top: -7.9rem;
  left: -3.7rem;
  width: 3.6rem;
  height: 9.6rem;
  background-image: url(../../images/icon_arrow02.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a49a74;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

@-webkit-keyframes rotation1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*=========================================================
# sns
=========================================================*/
.sns__inner {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.sns__insta {
  margin-top: 1.5rem;
  padding-left: 3rem;
}

/*=========================================================
# top-description
=========================================================*/
.top-description {
  margin-top: 5.8rem;
}

/*=========================================================
# top-map
=========================================================*/
.top-map {
  margin-top: 12.6rem;
}

/*=========================================================
# top-area
=========================================================*/
.top-area {
  margin-top: 10.6rem;
}

/*=========================================================
# top-manekineko
=========================================================*/
.top-manekineko {
  margin-top: 18.3rem;
}

/*=========================================================
/*=========================================================
# top-info
=========================================================*/
.top-info {
  margin-top: 20.5rem;
}

/*=========================================================
# top-footer
=========================================================*/
.top-footer {
  margin-top: 19.6rem;
}

/*=========================================================
# top-sns
=========================================================*/
.top-sns {
  margin-top: 18.3rem;
}/*# sourceMappingURL=index.css.map */