body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# insta-button
=========================================================*/
.insta-button a {
  height: 2.35rem;
  width: 8.3rem;
}

.insta-button a::after {
  height: 1.1rem;
  width: 0.9rem;
}

/*=========================================================
# map
=========================================================*/
.map__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
}

.map__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 38%;
  margin-top: 0;
}

.map__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100vw;
  margin-left: calc(50% - 50VW);
  margin-right: calc(50% - 50VW);
  aspect-ratio: 756/804;
}

/*=========================================================
# area-sec
=========================================================*/
.area-sec__inner.inner {
  width: 100%;
  margin: 0 auto;
}

.area-sec__item.area-sec__item--top01 {
  margin-top: 10.1rem;
}

.area-sec__item.area-sec__item--top02 {
  margin-top: 10.1rem;
}

.area-sec__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.1rem;
  margin-right: auto;
}

.area-sec__wrap.area-sec__wrap--syoutengai {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 5.6rem;
}

.area-sec__wrap.area-sec__wrap--gotokuji {
  gap: 11.5rem;
}

.area-sec__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
  margin-top: 0;
}

.area-sec__title {
  font-size: 1.9rem;
  letter-spacing: 0.05em;
  padding: 0;
  min-height: 4.55rem;
  margin: 0 auto;
  width: 91%;
}

.area-sec__title::before {
  width: 1.2rem;
  height: 4.55rem;
}

.area-sec__title::after {
  width: 1.2rem;
  height: 4.55rem;
}

.area-sec__text {
  font-size: 1.3rem;
  line-height: 2.0769230769;
  letter-spacing: 0.05em;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 88.5%;
}

.area-sec__button {
  margin-top: 1.6rem;
}

.area-sec__item.area-sec__item--top01 .area-sec__button {
  margin-top: 1.2rem;
}

.area-sec__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  margin-right: calc(50% - 50vw);
  padding-left: 4.4rem;
}

.area-sec__img {
  aspect-ratio: 790/527;
}

.area-sec__img img {
  border-top-left-radius: 3.2rem;
}

.area-sec__right::after {
  top: -66px;
  right: 3.005rem;
  width: 8.55rem;
  height: 7.05rem;
}

.area-sec__right.area-sec__right--syoutengai {
  margin-right: auto;
  margin-left: calc(50% - 50vw);
  padding-right: 4.4rem;
  padding-left: 0;
}

.area-sec__right.area-sec__right--syoutengai::after {
  top: auto;
  bottom: 1px;
  right: -3px;
  width: 5.6rem;
  height: 8.75rem;
  background-image: url(../../images/syoutengai_cat.png);
}

.area-sec__right.area-sec__right--gotokuji::after {
  top: -81px;
  right: auto;
  left: 12px;
  width: 13.55rem;
  height: 11rem;
  background-image: url(../../images/gotokuji_cat.png);
}

.area-sec__right.area-sec__right--syoutengai .area-sec__img img {
  border-top-left-radius: 0;
  border-top-right-radius: 3.2rem;
}

.area-sec__sns {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 1.95rem;
}

.area-sec__item.area-sec__item--top01 .area-sec__sns,
.area-sec__item.area-sec__item--top02 .area-sec__sns {
  margin-top: 0.65rem;
}

.area-sec__insta {
  margin-top: -0.8rem;
  padding-left: 2rem;
}

/*=========================================================
# manekineko
=========================================================*/
.manekineko__item {
  height: 23rem;
  padding-top: 1.15em;
  padding-bottom: 2.35rem;
}

.manekineko__item-img {
  max-width: 119.3rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  aspect-ratio: 1195.5/345;
}

.manekineko__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.9rem;
}

/*=========================================================
# info
=========================================================*/
.info__head-img {
  height: 25rem;
}

.info__head-img img {
  height: 25rem;
}

.info__title {
  margin-top: 3.9rem;
}

.info__title h2 {
  font-size: 2.4rem;
}

.info__text {
  text-align: left;
  margin-top: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  line-height: 2.0769230769;
  width: 89.5%;
}

.info__items {
  margin-top: 2.7rem;
  padding-bottom: 27.8rem;
}

.info__content {
  position: relative;
  padding-bottom: 0;
}

.info__content.info__content--02 {
  padding-bottom: 0;
}

.info__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__content.info__content--02 .info__content-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.2rem;
  gap: 3.4rem;
}

.info__content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  margin-top: 0;
}

.info__content-title {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.05em;
}

.info__content-text {
  font-size: 1.3rem;
  line-height: 1.9230769231;
  letter-spacing: 0.05em;
  margin-top: 0;
}

.info__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  aspect-ratio: 420/420;
  width: 61%;
  margin-left: auto;
  max-width: 35rem;
}

.info__content.info__content--02 .info__content-wrap .info__content-right {
  margin-right: auto;
  margin-left: 0;
}

.info__content-right img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.info__item01 {
  bottom: -2.2rem;
  left: -7.1%;
}

@media screen and (max-width: 374px) {
  .info__item01.info__item01 {
    left: -18.1%;
  }
}
.info__item01-img {
  width: 27.15rem;
  height: 100%;
  aspect-ratio: 271.5/183.5;
  position: relative;
}

.info__item01-img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(87.5px at 50% 50%);
          clip-path: circle(87.5px at 50% 50%);
}

.info__item01-img::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 4.3rem;
  width: 18.3rem;
  height: 18.3rem;
  background-image: url(../../images/info_circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.info__item01-comment {
  bottom: -7.2rem;
  right: -8rem;
}

.info__item01-comment::after {
  top: -2.2rem;
  left: 13.9rem;
  width: 5rem;
  height: 3.9rem;
}

.info__item01-title {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.info__item01-title::after {
  position: absolute;
  content: "";
  top: -2.2rem;
  left: 9rem;
  width: 5rem;
  height: 3.9rem;
  background-image: url(../../images/icon_arrow01.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item01-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a49a74;
  letter-spacing: 0.15em;
  margin-top: 0.3rem;
}

.info__item02 {
  margin-top: 30rem;
  padding-left: 0;
}

.info__item02-img {
  max-width: 30rem;
  width: 60%;
  aspect-ratio: 328/155;
  margin-left: auto;
  margin-right: auto;
}

.info__content-link {
  gap: 0.6rem;
  margin-top: 1.2rem;
}

.info__icon {
  height: 0.95rem;
  width: 1.4rem;
  fill: #b82e04;
}

.info__link-text {
  font-size: 1.3rem;
  color: #b82e04;
}

.info__item03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.5rem;
  margin-top: 2.65rem;
  bottom: -21.3rem;
  right: -1rem;
}

.info__item03-img {
  width: 33.65rem;
  aspect-ratio: 336.5/447;
}

.info__item03-img::before {
  top: 39.7rem;
  left: -0.9rem;
  width: 8.25rem;
  height: 11.7rem;
}

@media screen and (max-width: 374px) {
  .info__item03-img::before {
    left: 1.8rem;
  }
}
.info__item03-img::after {
  position: absolute;
  content: "";
  top: 26rem;
  left: 11.5rem;
  width: 18.3rem;
  height: 18.3rem;
  background-image: url(../../images/info_circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(87.5px at 61% 78.5%);
          clip-path: circle(87.5px at 61% 78.5%);
}

.info__item03-comment {
  position: absolute;
  bottom: -6.6rem;
  left: 12rem;
}

.info__item03-title {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.info__item03-title::after {
  top: -4.7rem;
  left: -2.3rem;
  width: 2.15rem;
  height: 6.05rem;
}

.info__item03-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a49a74;
  letter-spacing: 0.15em;
  margin-top: 0.4rem;
}

/*=========================================================
# top-map
=========================================================*/
.top-map {
  margin-top: 3.8rem;
}

/*=========================================================
# top-area
=========================================================*/
.top-area {
  margin-top: 4.1rem;
}

/*=========================================================
# top-manekineko
=========================================================*/
.top-manekineko {
  margin-top: 6.95rem;
}

/*=========================================================
# top-info
=========================================================*/
.top-info {
  margin-top: 9rem;
}

/*=========================================================
# top-footer
=========================================================*/
.top-footer {
  margin-top: 9.1rem;
}/*# sourceMappingURL=index_sp.css.map */