@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# content
=========================================================*/
.manekineko-content {
  background-color: #b82e04;
  padding-top: 6.4rem;
}

.manekineko-content__inner.inner {
  max-width: 114rem;
}

/*=========================================================
# modal
=========================================================*/
.modal {
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  position: fixed;
  top: 48.8%;
  left: 50%;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  max-height: calc(100vh - 3rem);
  overflow-y: scroll;
}

.modal__content {
  max-width: 108rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 9rem;
  padding-bottom: 10.9rem;
  padding-left: clamp(2rem, -11.548rem + 19.89vw, 11.1rem);
  padding-right: clamp(2rem, -10.393rem + 17.49vw, 10rem);
  background-color: #fff;
  -webkit-box-shadow: 6px 6px 16px 0px rgba(113, 0, 0, 0.84);
          box-shadow: 6px 6px 16px 0px rgba(113, 0, 0, 0.84);
  border-radius: 2rem;
  position: relative;
}

.modal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: clamp(2rem, -6.295rem + 13.11vw, 8.2rem);
}

.modal__container {
  position: relative;
  width: 43.7%;
}

.modal__slide {
  width: 100%;
}

.modal__wrapper {
  width: inherit;
}

.modal__img {
  aspect-ratio: 1/1;
}

.modal__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2rem;
}

/* ページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -31px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  border: 0.75px solid #b82e04;
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  background-color: #b82e04;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.modal__info {
  width: 56.3%;
  word-break: break-all;
  margin-top: 6.8rem;
}

.modal__category p {
  color: #a49a74;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.modal__title {
  margin-top: 0.8rem;
}

.modal__title h2 {
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.modal__text {
  margin-top: 1.6rem;
}

.modal__text p {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.875;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.modal__link {
  margin-top: 3.7rem;
}

.modal__link a {
  display: block;
  color: #b82e04;
  font-size: 1.6rem;
  letter-spacing: 0.045em;
  line-height: 1.5;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  padding-left: 4.3rem;
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.modal__link a:hover {
  color: #a49a74;
}

.modal__link a::before {
  position: absolute;
  content: "";
  top: 0.55rem;
  left: 0;
  width: 3.4rem;
  height: 1.6rem;
  -webkit-mask-image: url(../../manekineko/images/icon_pop.svg);
          mask-image: url(../../manekineko/images/icon_pop.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #b82e04;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.modal__link a:hover::before {
  background-color: #a49a74;
}

.modal__link a:not(:first-child) {
  margin-top: 0.5rem;
}

.modal__close {
  position: absolute;
  content: "";
  top: 4.2rem;
  right: 5.5rem;
  width: 55px;
  height: 55px;
}

.modal__close-button {
  width: inherit;
  height: inherit;
  position: relative;
  cursor: pointer;
}

.modal__close-button span {
  position: absolute;
  display: block;
  width: 58px;
  height: 3.5px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
  background-color: #b82e04;
}

.modal__close-button span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close-button span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(183, 52, 10, 0.95);
  z-index: 100;
  cursor: pointer;
}

.modal.js-modal.is-active,
.modal-overlay.is-active {
  visibility: visible;
  opacity: 1;
}

/*=========================================================
# sub-manekineko-content
=========================================================*/
.sub-manekineko-content {
  margin-top: 11.5rem;
}

/*=========================================================
# sub-manekineko-breadcrumb
=========================================================*/
.sub-manekineko-breadcrumb {
  margin-top: 2.6rem;
}

/*=========================================================
# sub-manekineko-footer
=========================================================*/
.sub-manekineko-footer {
  margin-top: 2.2rem;
}/*# sourceMappingURL=manekineko.css.map */