body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# page-fv
=========================================================*/
.page-fv {
  height: 35rem;
}

.page-fv__container {
  height: 35rem;
}

.page-fv__img {
  height: 35rem;
}

.page-fv__img img {
  height: 35rem;
}

.page-fv__title {
  max-width: 19.9rem;
  height: 9rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background-image: url(../../common/images/site_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.page-fv__title-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.page-fv__h1 {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.page-fv__logo {
  width: 7.25rem;
  aspect-ratio: 266/94;
}

.page-fv__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.page-fv__area {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  width: 100%;
}

.page-fv__cat {
  position: absolute;
  content: "";
  top: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.4rem;
  aspect-ratio: 67/71;
}

.page-fv__cat img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*=========================================================
# category
=========================================================*/
.category__inner.inner {
  max-width: 114rem;
}

.category__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem 1.6rem;
}

.category__item {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #a49a74;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid #a49a74;
  border-radius: 1.65rem;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.category__item.is-active {
  color: #fff;
  background-color: #a49a74;
}

/*=========================================================
# content
=========================================================*/
/*=========================================================
# cards
=========================================================*/
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem 1.5rem;
}

/*=========================================================
# card
=========================================================*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  aspect-ratio: 300/300;
  overflow: hidden;
  border-top-left-radius: 2.5rem;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.card:hover .card__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__category {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  color: #a49a74;
  margin-top: 1.15rem;
}

.card__name {
  margin-top: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9rem;
}

.card__name h2 {
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 500;
}

.card__icon {
  fill: #000;
  height: 1.5rem;
  width: 1.9rem;
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========================================================
# pagination
=========================================================*/
.pagination__inner.inner {
  max-width: 114rem;
}

.wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.6rem;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  display: inline-block;
  width: 2.9rem;
  height: 2.9rem;
  border: 1px solid #a49a74;
  border-radius: 50%;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
  background-color: #a49a74;
}

.wp-pagenavi .previouspostslink::after,
.wp-pagenavi .nextpostslink::after {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../../common/images/icon_pagination.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.wp-pagenavi .nextpostslink::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.wp-pagenavi .previouspostslink:hover::after,
.wp-pagenavi .nextpostslink:hover::after {
  width: 0.5rem;
  height: 0.6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../../common/images/icon_pagination_hover.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wp-pagenavi .nextpostslink:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.wp-pagenavi .page {
  color: #a49a74;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wp-pagenavi .page:hover {
  opacity: 0.7;
}

.wp-pagenavi .current {
  font-size: 1.2rem;
  position: relative;
  color: #fff;
}

.wp-pagenavi .current::before {
  position: absolute;
  content: "";
  width: 2.9rem;
  height: 2.9rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a49a74;
  border-radius: 50%;
  z-index: -1;
}

/*=========================================================
# breadcrumb
=========================================================*/
.breadcrumb__inner.inner {
  max-width: 114rem;
}

.breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

.breadcrumb__inner span {
  position: relative;
  display: inline-block;
  width: 1.7rem;
  height: 1.6rem;
}

.breadcrumb__inner span::before {
  position: absolute;
  content: "";
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../common/images/icon_home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*=========================================================
# sub-category
=========================================================*/
.sub-category {
  margin-top: 5.1rem;
}

/*=========================================================
# sub-content
=========================================================*/
.sub-content {
  margin-top: 2.75rem;
}

/*=========================================================
# sub-pagination
=========================================================*/
.sub-pagination {
  margin-top: 6.3rem;
}

/*=========================================================
# sub-breadcrumb
=========================================================*/
.sub-breadcrumb {
  margin-top: 15.8rem;
}

/*=========================================================
# sub-footer
=========================================================*/
.sub-footer {
  margin-top: 1rem;
}/*# sourceMappingURL=page_sp.css.map */