@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# page-fv
=========================================================*/
.page-fv {
  width: 100%;
  height: 70rem;
}

.page-fv__container {
  height: 70rem;
  position: relative;
}

.page-fv__img {
  width: 100%;
  height: 70rem;
  aspect-ratio: 1500/700;
}

.page-fv__img img {
  display: block;
  height: 70rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.page-fv__title {
  position: absolute;
  bottom: -0.05rem;
  left: 50%;
  max-width: 39.8rem;
  height: 18rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background-image: url(../../common/images/site_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.page-fv__title-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.page-fv__title-item {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.8rem;
}

.page-fv__logo {
  width: 15.2rem;
  aspect-ratio: 266/94;
}

.page-fv__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.page-fv__area {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  text-align: center;
  width: 100%;
}

.page-fv__cat {
  position: absolute;
  content: "";
  top: -1.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.8rem;
  aspect-ratio: 67/71;
}

.page-fv__cat img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* 招き猫ページのみ
--------------------------------------------------*/
.page-fv__manekineko-img {
  position: absolute;
  top: 41.5%;
  left: 50%;
  max-width: 1255px;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  aspect-ratio: 2231/690;
  padding: 0 3rem;
}

.page-fv__manekineko-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*=========================================================
# category
=========================================================*/
.category__inner.inner {
  max-width: 114rem;
}

.category__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: clamp(10px, 1.6vw, 24px);
}

.category__item {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a49a74;
  letter-spacing: 0.05em;
  padding: 1.2rem;
  cursor: pointer;
  border: 2px solid #a49a74;
  border-radius: 2.5rem;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category__item:hover {
  color: #fff;
  background-color: #a49a74;
}

.category__item.is-active {
  color: #fff;
  background-color: #a49a74;
}

/*=========================================================
# content
=========================================================*/
.content__inner.inner {
  max-width: 114rem;
}

/*=========================================================
# cards
=========================================================*/
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.3rem clamp(30px, 6vw, 90px);
}

/*=========================================================
# card
=========================================================*/
.card {
  cursor: pointer;
}

.card__img {
  aspect-ratio: 300/300;
  overflow: hidden;
  border-top-left-radius: 2rem;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.card:hover .card__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__category {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  line-height: 2;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  color: #a49a74;
  margin-top: 1.3rem;
}

.card__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9rem;
  margin-top: 0.1rem;
}

.card__name h2 {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.9;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-weight: 500;
}

/* 招き猫ページ
--------------------------------------------------*/
.card__name.card__name--white h2 {
  color: #fff;
}

/*--------------------------------------------------*/
.card__icon {
  fill: #000;
  height: 1.5rem;
  width: 2rem;
  margin-top: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
}

/* 招き猫ページ
--------------------------------------------------*/
.card__name.card__name--white .card__icon {
  fill: #fff;
}

/*--------------------------------------------------*/
.card__link {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========================================================
# pagination
=========================================================*/
.pagination.pagination--bg {
  background-color: #b82e04;
  padding-top: 9.35rem;
  padding-bottom: 18.4rem;
}

.pagination__inner.inner {
  max-width: 114rem;
}

.wp-pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.6rem;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  display: inline-block;
  width: 4.6rem;
  height: 4.6rem;
  border: 1px solid #a49a74;
  border-radius: 50%;
  position: relative;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.wp-pagenavi .previouspostslink {
  margin-right: 0.5rem;
}

.wp-pagenavi .nextpostslink {
  margin-left: 0.5rem;
}

.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
  background-color: #a49a74;
}

.wp-pagenavi .previouspostslink::after,
.wp-pagenavi .nextpostslink::after {
  position: absolute;
  content: "";
  width: 0.8rem;
  height: 0.9rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../../common/images/icon_pagination.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.wp-pagenavi .nextpostslink::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.wp-pagenavi .previouspostslink:hover::after,
.wp-pagenavi .nextpostslink:hover::after {
  width: 0.8rem;
  height: 0.9rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../../common/images/icon_pagination_hover.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wp-pagenavi .nextpostslink:hover::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.wp-pagenavi .page {
  color: #a49a74;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  line-height: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wp-pagenavi .page:hover {
  opacity: 0.7;
}

.wp-pagenavi .current {
  font-size: 1.8rem;
  position: relative;
  color: #fff;
  z-index: 1;
}

.wp-pagenavi .current::after {
  position: absolute;
  content: "";
  width: 4.6rem;
  height: 4.6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #a49a74;
  border-radius: 50%;
  z-index: -1;
}

/*=========================================================
# breadcrumb
=========================================================*/
.breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  cursor: pointer;
}

.breadcrumb__inner span {
  position: relative;
  display: inline-block;
  width: 1.7rem;
  height: 1.6rem;
  margin-right: 0.9rem;
}

.breadcrumb__inner span::before {
  position: absolute;
  content: "";
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../common/images/icon_home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*=========================================================
# article
=========================================================*/
.article__inner.inner {
  max-width: 88rem;
}

.article__category {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  color: #a49a74;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.article__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  margin-top: 0.2rem;
}

.article__thumbnail {
  margin-top: 2.1rem;
  aspect-ratio: 820/547;
}

.article__thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__description {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0.15em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.article__content {
  margin-top: 5.5rem;
}

.article__content-item:not(:first-child) {
  margin-top: 5.4rem;
}

.article__content-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content-item p {
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0.15em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  margin-top: 1.1rem;
}

.article__info {
  margin-top: 7.8rem;
}

.article__info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #d1d1d1;
  background-color: #f6f6f6;
}

.article__info dl:last-child {
  border-bottom: 1px solid #d1d1d1;
}

.article__info dt,
.article__info dd {
  padding-top: 2.2rem;
  padding-bottom: 1rem;
}

.article__info dt {
  padding-left: 2.8rem;
  padding-right: 0.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15rem;
          flex: 0 0 15rem;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0.15em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.article__info dd {
  padding-left: 3.2rem;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  word-break: break-all;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0.15em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.article__info dd a {
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.article__info dd a:hover {
  opacity: 0.7;
}

.article__map {
  margin-top: 2.5rem;
}

.article__map iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.article__map p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.15em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  margin-top: 1.7rem;
  padding-left: 1.1em;
  text-indent: -1.15em;
}

/*=========================================================
# single-pagination
=========================================================*/
.single-pagination__inner.inner {
  max-width: 88rem;
}

.single-pagination__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.single-pagination__prev,
.single-pagination__next {
  padding: 0.8rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  word-break: break-all;
  width: 50%;
}

.single-pagination__prev {
  padding-left: 6rem;
}

.single-pagination__next {
  padding-right: 6rem;
  text-align: right;
}

.single-pagination__prev:hover,
.single-pagination__next:hover {
  opacity: 0.7;
}

.single-pagination__prev:after,
.single-pagination__next:after {
  position: absolute;
  content: "";
  width: 4.6rem;
  height: 4.6rem;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #a49a74;
  border-radius: 50%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.single-pagination__prev:after {
  left: 0;
}

.single-pagination__next:after {
  right: 0;
}

.single-pagination__prev:hover:after,
.single-pagination__next:hover:after {
  background-color: #a49a74;
}

.single-pagination__prev::before,
.single-pagination__next::before {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 1rem;
  top: 56%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../../common/images/icon_pagination.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.single-pagination__prev::before {
  left: 1.85rem;
}

.single-pagination__next::before {
  right: 1.85rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.single-pagination__prev:hover::before,
.single-pagination__next:hover::before {
  background-image: url(../../common/images/icon_pagination_hover.png);
}

.single-pagination__return {
  margin-top: 4.5rem;
}

/*=========================================================
# return-button
=========================================================*/
.return-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  background-color: #ececec;
  max-width: 36rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
}

.return-button__arrow {
  width: 3.6rem;
  aspect-ratio: 36/28;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.return-button__arrow img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.return-button a:hover .return-button__arrow {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.return-button__text {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.return-button a:hover .return-button__text {
  opacity: 0.7;
}

/*=========================================================
# sub-description
=========================================================*/
.sub-description {
  margin-top: 7.8rem;
}

/*=========================================================
# sub-category
=========================================================*/
.sub-category {
  margin-top: 8.8rem;
}

/*=========================================================
# sub-content
=========================================================*/
.sub-content {
  margin-top: 4rem;
}

/*=========================================================
# sub-pagination
=========================================================*/
.sub-pagination {
  margin-top: 13.6rem;
}

/*=========================================================
# sub-breadcrumb
=========================================================*/
.sub-breadcrumb {
  margin-top: 15.4rem;
}

/*=========================================================
# sub-footer
=========================================================*/
.sub-footer {
  margin-top: 2rem;
}

/*=========================================================
# sub-article
=========================================================*/
.sub-article {
  margin-top: 13.5rem;
}

/*=========================================================
# sub-single-pagination
=========================================================*/
.sub-single-pagination {
  margin-top: 11.5rem;
}

/*=========================================================
# sub-single-breadcrumb
=========================================================*/
.sub-single-breadcrumb {
  margin-top: 28.6rem;
}/*# sourceMappingURL=page.css.map */