body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
/*=========================================================
# page-fv
=========================================================*/
.page-fv {
  height: 35rem;
}

.page-fv__container {
  height: 35rem;
}

.page-fv__img {
  height: 35rem;
}

.page-fv__img img {
  height: 35rem;
}

.page-fv__title {
  max-width: 19.9rem;
  height: 9rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background-image: url(../../common/images/site_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.page-fv__title-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.page-fv__h1 {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.page-fv__logo {
  width: 7.25rem;
  aspect-ratio: 266/94;
}

.page-fv__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.page-fv__area {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  width: 100%;
}

.page-fv__cat {
  position: absolute;
  content: "";
  top: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2.4rem;
  aspect-ratio: 67/71;
}

.page-fv__cat img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*=========================================================
# category
=========================================================*/
.category__inner.inner {
  max-width: 114rem;
}

.category__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem 1.6rem;
}

.category__item {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #a49a74;
  letter-spacing: 0.05em;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid #a49a74;
  border-radius: 1.65rem;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.category__item.is-active {
  color: #fff;
  background-color: #a49a74;
}

/*=========================================================
# content
=========================================================*/
/*=========================================================
# cards
=========================================================*/
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem 1.5rem;
}

/*=========================================================
# card
=========================================================*/
/*=========================================================
# sub-category
=========================================================*/
.sub-category {
  margin-top: 5.1rem;
}

/*=========================================================
# sub-content
=========================================================*/
.sub-content {
  margin-top: 2.75rem;
}/*# sourceMappingURL=page_sp.css.map */