body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.u-desktop {
  display: block;
}

.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
  .u-mobile {
    display: block;
  }
}
.inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.55rem;
  padding-right: 1.55rem;
  width: 100%;
}

/*=========================================================
# description
=========================================================*/
.description__text {
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  line-height: 2.0769230769;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

/*=========================================================
# footer
=========================================================*/
.footer {
  background-color: #000;
  padding-bottom: 4.8rem;
  padding-top: 3.5rem;
}

.footer__inner {
  padding: 0 1.5rem;
}

.footer__text {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  color: #a49a74;
  font-size: 1.1rem;
  letter-spacing: 0.15em;
  line-height: 2.1818181818;
  text-align: center;
}

.footer__text a {
  position: relative;
}

.footer__text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a49a74;
  left: 0;
  bottom: -3px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer__text a:hover::after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.footer__copyright {
  display: block;
  color: #a49a74;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 3rem;
}

/*=========================================================
# fv
=========================================================*/
.fv {
  height: 35rem;
}

.fv__container {
  height: 35rem;
}

.fv__img {
  height: 35rem;
}

.fv__img img {
  height: 35rem;
}

.fv__title {
  max-width: 19.9rem;
  height: 9rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  bottom: -0.08rem;
  background-image: url(../../common/images/site_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.fv__title-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.fv__logo {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 13.3rem;
  aspect-ratio: 266/94;
}

.fv__logo img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.fv__cat {
  position: absolute;
  content: "";
  top: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3.35rem;
  aspect-ratio: 67/71;
}

.fv__cat img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*=========================================================
# hamburger
=========================================================*/
.hamburger {
  height: 21.5px;
  width: 25.5px;
}

.hamburger span {
  border-radius: 1.5px;
  height: 4px;
}

.hamburger span:nth-child(1) {
  top: 0;
  width: 20px;
}

.hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%) scaleY(0.5);
          transform: translateY(-50%) scaleY(0.5);
  width: 100%;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  width: 14px;
}

.hamburger.is-active span:nth-child(1) {
  left: -2px;
  top: 43%;
  width: 29px;
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  bottom: 39%;
  left: -2px;
  width: 29px;
}

/*=========================================================
# header
=========================================================*/
.header {
  height: 21.5px;
  left: 0;
  position: fixed;
  right: 0;
  top: 13.8px;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
}

/*=========================================================
# link-button
=========================================================*/
.link-button {
  background-color: #b82e04;
  display: block;
  max-width: 26rem;
  width: 100%;
}

.link-button a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1rem;
  padding: 0.4rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.link-button__text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0;
}

.link-button__arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 3.1rem;
  aspect-ratio: 33/33;
}

.link-button a:hover .link-button__arrow {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

/* black
--------------------------------------------------*/
.link-button.link-button--black {
  background-color: #000;
}

.link-button.link-button--black .link-button__text {
  color: #a49a74;
  font-size: 1.2rem;
}

.link-button.link-button--black .link-button__arrow {
  width: 3.1rem;
}

/*=========================================================
# nav
=========================================================*/
.nav {
  padding: 0;
  overflow-x: hidden;
}

.nav__img {
  top: 39%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 49.8rem;
  aspect-ratio: 498/383.5;
}

.nav__items {
  left: calc(50% + 45px);
  position: absolute;
  top: 43.2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__item.nav__item--space {
  margin-top: 20px;
}

.nav__item {
  width: 16rem;
}

.nav__item a {
  display: block;
  padding: 1.2rem;
}

.nav__item.nav__item--link {
  margin-top: 1.5rem;
}

.nav__item.nav__item--link a {
  padding-left: 1.2rem;
}

.nav__item a p {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.nav__item.nav__item--link a p {
  font-size: 1.2rem;
}

.nav__flex-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.nav__icon {
  fill: #000;
  height: 0.95rem;
  width: 1.25rem;
}/*# sourceMappingURL=site-common_sp.css.map */