@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  font-weight: 400;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
}

/*=========================================================
# description
=========================================================*/
.description {
  margin-top: 3.95rem;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.05em;
  line-height: 2.0769230769;
  text-align: left;
}

/*=========================================================
# footer
=========================================================*/
.footer {
  background-color: #000;
  padding-bottom: 4.8rem;
  padding-top: 4.2rem;
}

.footer__inner {
  padding: 0 1.5rem;
}

.footer__text {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  color: #a49a74;
  font-size: 1.1rem;
  letter-spacing: 0.15em;
  line-height: 2.1818181818;
  text-align: center;
}

.footer__text a {
  position: relative;
}

.footer__text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a49a74;
  left: 0;
  bottom: -3px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer__text a:hover::after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.footer__copyright {
  display: block;
  color: #a49a74;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 5rem;
}

/*=========================================================
# fv
=========================================================*/
.fv {
  height: 350px;
  width: 100%;
}

.fv__container {
  height: 350px;
  position: relative;
}

.fv__img {
  height: 350px;
  width: 100%;
}

.fv__img img {
  display: block;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.fv__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 199px;
  height: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  background-image: url(../../common/images/site_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.fv__title-wrap {
  position: relative;
  width: inherit;
  height: inherit;
}

.fv__logo {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 133px;
}

.fv__logo img {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.fv__cat {
  position: absolute;
  content: "";
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 33.5px;
}

.fv__cat img {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

/*=========================================================
# hamburger
=========================================================*/
.hamburger {
  height: 2.15rem;
  position: relative;
  width: 2.55rem;
  z-index: 100;
}

.hamburger span {
  background-color: #fff;
  border-radius: 1rem;
  height: 0.175rem;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: inherit;
}

.hamburger span:nth-child(1) {
  top: 0;
  width: 1.9rem;
}

.hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
  width: 1.25rem;
}

.hamburger.is-active span {
  background-color: #000;
}

.hamburger.is-active span:nth-child(1) {
  left: 0rem;
  top: 46%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2.1rem;
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  bottom: 46%;
  left: 0rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 2.1rem;
}

.hamburger {
  height: 2.15rem;
  position: relative;
  width: 2.55rem;
  z-index: 100;
}

.hamburger span {
  background-color: #fff;
  border-radius: 1rem;
  height: 0.175rem;
  left: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: inherit;
}

.hamburger span:nth-child(1) {
  top: 0;
  width: 1.9rem;
}

.hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
  width: 1.25rem;
}

.hamburger.is-active span {
  background-color: #000;
}

.hamburger.is-active span:nth-child(1) {
  left: 0rem;
  top: 46%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2.1rem;
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  bottom: 46%;
  left: 0rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 2.1rem;
}

/*=========================================================
# header
=========================================================*/
.header {
  height: 4.3rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 2.35rem;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2.95rem;
}

/*=========================================================
# link-button
=========================================================*/
.link-button {
  background-color: #b82e04;
  display: block;
  max-width: 26rem;
  width: 100%;
}

.link-button a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  padding: 1.4rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.link-button__text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.link-button__arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 3.1rem;
}

.link-button a:hover .link-button__arrow {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.link-button__arrow img {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

/*=========================================================
# パターン02
=========================================================*/
.link-button02 {
  background-color: #b82e04;
  display: inline-block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.link-button02:hover {
  opacity: 0.7;
}

.link-button02 a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  padding: 1.4rem 4.3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.link-button02__text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.link-button02__arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 3.1rem;
}

.link-button02__arrow img {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

/*=========================================================
# パターン03
=========================================================*/
.link-button03 {
  background-color: #b82e04;
  display: inline-block;
  left: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link-button03:hover {
  -webkit-box-shadow: 0 4px 8px rgba(255, 245, 157, 0.8);
          box-shadow: 0 4px 8px rgba(255, 245, 157, 0.8);
  left: 5px;
}

.link-button03 a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  padding: 1.4rem 4.3rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.link-button03__text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.link-button03__arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 3.1rem;
}

.link-button03__arrow img {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

/*=========================================================
# nav
=========================================================*/
.nav {
  background-color: #a49a74;
  bottom: 0;
  content: "";
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav.is-active {
  display: block;
}

.nav__inner {
  height: inherit;
  width: inherit;
}

.nav__container {
  height: inherit;
  position: relative;
  width: inherit;
}

.nav__img {
  left: 50%;
  position: absolute;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 435px;
}

.nav__img img {
  display: block;
  height: 100%;
  width: 100%;
}

.nav__items {
  left: calc(50% - 0px);
  position: absolute;
  top: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__item.nav__item--space {
  margin-top: 20px;
}

.nav__item a {
  display: block;
  padding: 10px;
}

.nav__item a p {
  font-size: 10px;
  letter-spacing: 0.02em;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav__item a p::after {
  background-color: #000;
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
}

.nav__item a:hover p::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.nav__flex-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.nav__link {
  fill: #000;
  height: 15px;
  width: 19px;
}

.nav__link use {
  display: block;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}/*# sourceMappingURL=site-common_sp.css.map */