@use "../global" as *;

/*=========================================================
# area-sec
=========================================================*/
.area-sec__inner.inner {
  width: 100%;
  margin: 0 auto;
}

.area-sec__item.area-sec__item--top01 {
  margin-top: 10.1rem;
}

.area-sec__item.area-sec__item--top02 {
  margin-top: 10.1rem;
}

.area-sec__wrap {
  flex-direction: column;
  gap: 10.1rem;
  margin-right: auto;
}

.area-sec__wrap.area-sec__wrap--syoutengai {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 5.6rem;
}

.area-sec__wrap.area-sec__wrap--gotokuji {
  gap: 11.5rem;
}

.area-sec__left {
  flex: 0 1 auto;
  text-align: center;
  margin-top: 0;
}

.area-sec__title {
  font-size: 1.9rem;
  letter-spacing: 0.05em;
  padding: 0;
  min-height: 4.55rem;
  margin: 0 auto;
  width: 91%;
}

.area-sec__title::before {
  width: 1.2rem;
  height: 4.55rem;
}

.area-sec__title::after {
  width: 1.2rem;
  height: 4.55rem;
}

.area-sec__text {
  font-size: 1.3rem;
  line-height: calc(27 / 13);
  letter-spacing: 0.05em;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 88.5%;
}

.area-sec__button {
  margin-top: 1.6rem;
}

.area-sec__item.area-sec__item--top01 .area-sec__button {
  margin-top: 1.2rem;
}

.area-sec__right {
  flex: 0 1 auto;
  position: relative;
  margin-right: calc(50% - 50vw);
  padding-left: 4.4rem;
}

.area-sec__img {
  aspect-ratio: 790 / 527;
}

.area-sec__img img {
  border-top-left-radius: 3.2rem;
}

.area-sec__right::after {
  top: -66px;
  right: 3.005rem;
  width: 8.55rem;
  height: 7.05rem;
}

.area-sec__right.area-sec__right--syoutengai {
  margin-right: auto;
  margin-left: calc(50% - 50vw);
  padding-right: 4.4rem;
  padding-left: 0;
}

.area-sec__right.area-sec__right--syoutengai::after {
  top: auto;
  bottom: 1px;
  right: -3px;
  width: 5.6rem;
  height: 8.75rem;
  background-image: url(../../images/syoutengai_cat.png);
}

.area-sec__right.area-sec__right--gotokuji::after {
  top: -81px;
  right: auto;
  left: 12px;
  width: 13.55rem;
  height: 11.0rem;
  background-image: url(../../images/gotokuji_cat.png);
}

.area-sec__right.area-sec__right--syoutengai .area-sec__img img {
  border-top-left-radius: 0;
  border-top-right-radius: 3.2rem;
}

.area-sec__sns {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 1.95rem;
}

.area-sec__item.area-sec__item--top01 .area-sec__sns,
.area-sec__item.area-sec__item--top02 .area-sec__sns {
  margin-top: 0.65rem;
}

.area-sec__insta {
  margin-top: -0.8rem;
  padding-left: 2rem;
}