@use "../global" as *;

/*=========================================================
# breadcrumb
=========================================================*/

.breadcrumb__inner {
display: flex;
align-items: center;
font-size: 1.4rem;
letter-spacing: 0.05em;
font-feature-settings: "palt";
cursor: pointer;
}

.breadcrumb__inner span{
	position: relative;
	display: inline-block;
	width: 1.7rem;
	height: 1.6rem;
	margin-right: 0.9rem;
}

.breadcrumb__inner span::before{
	position: absolute;
	content: "";
	top: 70%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(-50%);
	background-image: url(../../common/images/icon_home.svg);
	background-repeat: no-repeat;
	background-size: cover;
}