@use "../global" as *;

/*=========================================================
# cards
=========================================================*/
.cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3.2rem 1.5rem;
}