@use "../global" as *;

/*=========================================================
# cards
=========================================================*/
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8rem 9rem;
}