@use "../global" as *;

/*=========================================================
# category
=========================================================*/
.category__inner.inner {
	max-width: 114rem;
}

.category__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem 1.6rem;
}

.category__item {
	width: 100%;
	font-size: 1.2rem;
	font-weight: $medium;
	color: $gold;
	letter-spacing: 0.05em;
	padding: 0.55rem;
	cursor: pointer;
	border: 2px solid $gold;
	border-radius: 1.65rem;
	text-align: center;
	font-feature-settings: "palt";
}

.category__item.is-active {
	color: $white;
	background-color: $gold;
}