@use "../global" as *;

/*=========================================================
# description
=========================================================*/
  .description {
    margin-top: 3.1rem;
  }
  
  .description__text {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    line-height: calc(27 / 13);
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
