@use "../global" as *;

/*=========================================================
# description
=========================================================*/
  .description {
    margin-top: 3.95rem;
  }
  
  .description__text {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    letter-spacing: 0.05em;
    line-height: calc(27 / 13);
    text-align: left;
  }
