@use "../global" as *;

/*=========================================================
# fv
=========================================================*/
.fv {
	height: 35rem;
}

.fv__container {
	height: 35rem;
}

.fv__img {
	height: 35rem;
}

.fv__img img {
	height: 35rem;
}

.fv__title {
	max-width: 19.9rem;
	height: 9rem;
	transform: translateX(-50%);
	width: 100%;
	background-image: url(../../common/images/site_circle.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.fv__title-wrap {
	position: relative;
	width: inherit;
	height: inherit;
}

.fv__logo {
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 13.3rem;
	aspect-ratio: 266 / 94;
}

.fv__logo img {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.fv__cat {
	position: absolute;
	content: "";
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 3.35rem;
	aspect-ratio: 67 / 71;
}

.fv__cat img {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}