@use "../global" as *;

/*=========================================================
# fv
=========================================================*/
.fv {
	width: 100%;
	height: 350px;
}

.fv__container {
	height: 350px;
	position: relative;
}

.fv__img {
	width: 100%;
	height: 350px;
	aspect-ratio: 1500 / 700;
}

.fv__img img {
	display: block;
	height: 350px;
	object-fit: cover;
	width: 100%;
}

.fv__title {
	position: absolute;
	bottom: 0;
	left: 50%;
	max-width: 199px;
	height: 90px;
	transform: translateX(-50%);
	width: 100%;
	background-image: url(../../common/images/site_circle.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.fv__title-wrap {
	position: relative;
	width: inherit;
	height: inherit;
}

.fv__logo {
	position: absolute;
	content: "";
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	width: 133px;
	aspect-ratio: 266 / 94;
}

.fv__logo img {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.fv__cat {
	position: absolute;
	content: "";
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 33.5px;
	aspect-ratio: 67 / 71;
}

.fv__cat img {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}