@use "../global" as *;
/*=========================================================
# hamburger
=========================================================*/

.hamburger {
	height: 4.3rem;
	position: relative;
	width: 5.1rem;
	z-index: 100;
}

.hamburger span {
	display: block;
  background-color: $white;
	border-radius: 1rem;
	height: 0.35rem;
	left: 0;
	position: absolute;
	transition: 0.5s;
	width: inherit;
}

.hamburger.js-hamburger.transform span{
	background-color: rgba(0,0,0,1); /* 背景色変更 */
}

.hamburger span:nth-child(1) {
	top: 0;
	width: 3.9rem;
}

.hamburger span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
	bottom: 0;
	width: 2.7rem;
}

.hamburger.is-active span {
	background-color: $black;
}

.hamburger.is-active span:nth-child(1) {
	left: -0.3rem;
	top: 46%;
	transform: rotate(45deg);
	width: 5.8rem;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
	bottom: 46%;
	left: -0.3rem;
	transform: rotate(135deg);
	width: 5.8rem;
}