@use "../global" as *;
/*=========================================================
# hamburger
=========================================================*/


.hamburger {
	height: 2.15rem;
	position: relative;
	width: 2.55rem;
	z-index: 1000;
}

.hamburger span {
	background-color: $white;
	border-radius: 0.5rem;
	height: 0.2rem;
	left: 0;
	position: absolute;
	transition: 0.5s;
}

.hamburger span:nth-child(1) {
	top: 0;
	width: 2rem;
}

.hamburger span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.hamburger span:nth-child(3) {
	bottom: 0;
	width: 1.4rem;
}

.hamburger.is-active span{
	background-color: $black;
}

.hamburger.is-active span:nth-child(1) {
	left: -0.2rem;
	top: 48%;
	transform: rotate(45deg);
	width: 2.9rem;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
	bottom: 44%;
	left: -0.2rem;
	transform: rotate(-45deg);
	width: 2.9rem;
}
