@use "../global" as *;
/*=========================================================
# hamburger
=========================================================*/


.hamburger {
	height: 21.5px;
	width: 25.5px;
}

.hamburger span {
	border-radius: 1.5px;
	height: 4px;
}

.hamburger span:nth-child(1) {
	top: 0;
	width: 20px;
}

.hamburger span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%) scaleY(0.5);
	width: 100%;
}

.hamburger span:nth-child(3) {
	bottom: 0;
	width: 14px;
}

.hamburger.is-active span:nth-child(1) {
	left: -2px;
	top: 43%;
	width: 29px;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
	bottom: 39%;
	left: -2px;
	width: 29px;
}