@use "../global" as *;
/*=========================================================
# hamburger
=========================================================*/


.hamburger {
	height: 43px;
	position: relative;
	width: 51px;
	z-index: 1000;
}

.hamburger span {
	background-color: $white;
	border-radius: 10px;
	height: 6px;
	transform: scaleY(0.5);
	left: 0;
	position: absolute;
	transition: 0.5s;
}

.hamburger.js-hamburger.transform span {
	background-color: rgba(0, 0, 0, 1);
}

.hamburger span:nth-child(1) {
	top: 0;
	width: 39px;
}

.hamburger span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%) scaleY(0.5);
	width: 100%;
}

.hamburger span:nth-child(3) {
	bottom: 0;
	width: 29px;
}

.hamburger.is-active span {
	background-color: $black;
}

.hamburger.is-active span:nth-child(1) {
	left: -3px;
	top: 42%;
	transform: rotate(45deg) scaleY(0.5);
	width: 58px;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
	bottom: 46%;
	left: -3px;
	transform: rotate(-45deg) scaleY(0.5);
	width: 58px;
}