@use "../global" as *;

/*=========================================================
# header
=========================================================*/
.header {
	height: 4.3rem;
	left: 0;
	position: fixed;
	right: 0;
	top: 1.38rem;
	width: 100%;
	z-index: 100;
}

.header__inner {
	display: flex;
	justify-content: flex-end;
	padding: 0 1.5rem;
}