@use "../global" as *;

/*=========================================================
# info
=========================================================*/
.info {
  position: relative;
}

.info__head-img {
  width: 100vw;
  height: 250px;
  margin: 0 calc(50% - 50vw);
  object-fit: cover;
  aspect-ratio: 1500 / 500;
}

.info__head-img img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info__title {
  font-family: $second-font-family;
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.05rem;
  font-size: 2.4rem;
  font-weight: $normal;
}

.info__text {
  text-align: justify;
  margin-top: 3.05rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  line-height: calc(27 / 13);
  width: 90%;
}

.info__items {
  margin-top: 2.25rem;
}

.info__content {
  position: relative;
  padding-bottom: 0;
}

.info__content.info__content--02{
  padding-bottom: 0;
}

.info__content-wrap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.info__content.info__content--02 .info__content-wrap {
  flex-direction: column;
  margin-top: 9.05rem;
}

.info__content-left {
  flex: 0 1 65%;
  margin-top: 0;
}

.info__content-title {
  font-size: 1.5rem;
  line-height: calc(48 / 24);
  letter-spacing: 0.05em;
}

.info__content-text {
  font-size: 1.3rem;
  line-height: calc(25 / 13);
  margin-top: 1.5rem;
}

.info__content-right {
  flex: 0 1 35%;
  aspect-ratio: 420 / 420;
  width: 60%;
  margin-left: auto;
}

.info__content.info__content--02 .info__content-wrap .info__content-right{
  margin-right: auto;
  margin-left: 0;
}

.info__content-right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.info__item01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.4rem;
  position: static;
  transform: translateY(0);
  margin-top: 4.5rem;
}

.info__item01-img {
  width: 17.5rem;
  margin-bottom: 0;
  aspect-ratio: 292 / 292;
}

.info__item01-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__item01-right {
  position: relative;
  padding-left: 4rem;
}

.info__item01-right::after {
  position: absolute;
  content: "";
  top: -22px;
  left: 139px;
  width: 5rem;
  height: 3.9rem;
  background-image: url(../../images/icon_arrow01.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item01-title {
  font-size: 1.4rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
}

.info__item01-text {
  font-size: 1.2rem;
  line-height: calc(18 / 12);
  color: $gold;
  letter-spacing: 0.15em;
}

.info__item02 {
  margin-top: 4rem;
}

.info__item02-img {
  width: 20rem;
  aspect-ratio: 328 / 155;
  margin-left: auto;
  margin-right: auto;
}

.info__item02-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__content-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 3rem;
}

.info__content-link a {
  position: relative;
}

.info__content-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $red;
  left: 0;
  bottom: -3px;
  transform: scale(1, 1);
  transform-origin: left top;
  transition: transform .5s;
}

.info__content-link a:hover::after {
  transform: scale(0, 1);
  transform-origin: right top;
}

.info__icon {
  height: 9.5px;
  width: 14px;
  fill: $red;
}

.info__icon-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__link-text {
  font-size: 1.3rem;
  color: $red;
}

.info__item03 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin-top: 2.65rem;
}

.info__item03-wrap{
  position: relative;
}

.info__item03-wrap::before{
  position: absolute;
  content: "";
  top: 129px;
  left: -130px;
  width: 8.25em;
  height: 11.7rem;
  background-image: url(../../images/info_img06.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-img {
  width: 17.5rem;
  aspect-ratio: 292 / 292;
}

.info__item03-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__item03-comment {
  position: relative;
}

.info__item03-comment::after {
  position: absolute;
  content: "";
  top: -50px;
  left: -28px;
  width: 2.15rem;
  height: 6.05rem;
  background-image: url(../../images/icon_arrow02.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-title {
  font-size: 1.4rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
}

.info__item03-text {
  font-size: 1.2rem;
  line-height: calc(18 / 12);
  color: $gold;
  letter-spacing: 0.15em;
}