@use "../global" as *;

/*=========================================================
# info
=========================================================*/
.info {
  position: relative;
}

.info__head-img {
  width: 100vw;
  height: 50rem;
  margin: 0 calc(50% - 50vw);
  object-fit: cover;
  aspect-ratio: 1500 / 500;
}

.info__head-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.info__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.7rem;
  display: flex;
  justify-content: center;
}

.info__title h2 {
  font-family: $second-font-family;
  writing-mode: vertical-rl;
  font-size: 4.8rem;
  letter-spacing: 0.15em;
  font-weight: $normal;
}

.info__text {
  text-align: center;
  margin-top: 4.1rem;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  line-height: calc(36 / 16);
  font-feature-settings: "palt";
}

.info__items {
  margin-top: 13.3rem;
  padding-bottom: 19.5rem;
}

.info__content {
  position: relative;
  height: 42rem;
  padding-bottom: calc(70px - ((100 / 476) * (100vw - 1024px)));
}

.info__content.info__content--02 {
  padding-bottom: 0;
}

.info__content-wrap {
  display: flex;
  gap: clamp(30px, 5.066666666666666vw, 76px);
}

.info__content.info__content--02 .info__content-wrap {
  flex-direction: row-reverse;
  gap: clamp(30px, 5.333333333333333vw, 80px);
  margin-top: 6.2rem;
}

.info__content-left {
  flex: 0 1 62.75%;
  margin-top: 2.9rem;
}

.info__content.info__content--02 .info__content-left {
  flex: 0 1 62.5%;
  margin-top: 4.7rem;
}

.info__content-title {
  font-size: 2.4rem;
  line-height: calc(48 / 24);
  letter-spacing: 0.05em;
  font-weight: $medium;
  font-feature-settings: "palt";
}

.info__content-text {
  font-size: 1.6rem;
  line-height: calc(36 / 16);
  letter-spacing: 0.15em;
  margin-top: 0.7rem;
  font-feature-settings: "palt";
}

.info__content-right {
  flex: 0 1 37.25%;
  aspect-ratio: 420 / 420;
}

.info__content.info__content--02 .info__content-right {
  flex: 0 1 37.5%;
}

.info__content-img {
  aspect-ratio: 420 / 420;
}

.info__content-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}

.info__item01 {
  position: absolute;
  bottom: 8.5rem;
  left: 25.2%;
  transform: translateY(100%);
}

.info__item01-img {
  width: 43.4rem;
  aspect-ratio: 434 / 293;
  position: relative;
}

.info__item01-img img {
  display: block;
  width: 100%;
  height: 100%;
  clip-path: circle(140px at 50% 50%);
}

.info__item01-img::after{
  content: "";
  position: absolute;
  top: -0.3rem;
  left: 7.1rem;
  width: 29.2rem;
  height: 29.2rem;
  background-image: url(../../images/info_circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


.info__item01-comment{
  position: absolute;
  bottom: -4.5rem;
  right: -28.1rem;
}

.info__item01-title {
  font-size: 2rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
  position: relative;
}

.info__item01-title::after {
  position: absolute;
  content: "";
  top: -7.2rem;
  left: -2.8rem;
  width: 8rem;
  height: 6.2rem;
  background-image: url(../../images/icon_arrow01.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item01-text {
  font-size: 1.5rem;
  font-weight: $medium;
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  font-feature-settings: "palt";
}

.info__item02 {
  margin-top: 21rem;
  padding-left: 6rem;
}

.info__item02-img {
  width: 32.8rem;
  aspect-ratio: 328 / 155;
}

.info__item02-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__content-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.7rem;
}

.info__content-link a {
  position: relative;
}

.info__content-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $red;
  left: 0;
  bottom: -0.5rem;
  transform: scale(1, 1);
  transform-origin: left top;
  transition: transform .5s;
}

.info__content-link a:hover::after {
  transform: scale(0, 1);
  transform-origin: right top;
}


.info__icon {
  height: 1.5rem;
  width: 1.9rem;
  fill: $red;
  margin-top: 0.5rem;
}

.info__icon-img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}


.info__link-text {
  font-size: 1.6rem;
  font-weight: $medium;
  letter-spacing: 0.05em;
  font-feature-settings: "palt";
  color: $red;
}

.info__item03 {
  position: absolute;
  content: "";
  bottom: -10.2rem;
  right: -1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}




.info__item03-img {
  width: 53.8rem;
  aspect-ratio: 538 / 717;
  position: relative;
}

.info__item03-img::before {
  position: absolute;
  content: "";
  top: 53.5rem;
  left: -0.3rem;
  width: 13.65rem;
  height: 19.1rem;
  background-image: url(../../images/info_img06.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-img::after {
  position: absolute;
  content: "";
  top: 41.5rem;
  left: 18.4rem;
  width: 29.2rem;
  height: 29.2rem;
  background-image: url(../../images/info_circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-img img {
  display: block;
  width: 100%;
  height: 100%;
  clip-path: circle(140px at 61% 78%);
}

.info__item03-comment {
position: absolute;
bottom: -9.4rem;
left: 19rem;
}


.info__item03-title {
  font-size: 2rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
  position: relative;
}
.info__item03-title::after {
  position: absolute;
  content: "";
  top: -7.9rem;
  left: -3.7rem;
  width: 3.6rem;
  height: 9.6rem;
  background-image: url(../../images/icon_arrow02.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-text {
  font-size: 1.5rem;
  font-weight: $medium;
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  font-feature-settings: "palt";
}