@use "../global" as *;

/*=========================================================
# info
=========================================================*/
.info {
  position: relative;
}

.info__head-img {
  width: 100vw;
  height: 500px;
  margin: 0 calc(50% - 50vw);
  object-fit: cover;
  aspect-ratio: 1500 / 500;
}

.info__head-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.info__title {
  font-family: $second-font-family;
  writing-mode: vertical-rl;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.7rem;
  font-size: 4.8rem;
  letter-spacing: 0.15em;
  font-weight: $normal;
}

.info__text {
  text-align: center;
  margin-top: 4.1rem;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  line-height: calc(36 / 16);
  font-feature-settings: "palt";
}

.info__items {
  margin-top: 13.3rem;
}

.info__content {
  position: relative;
  padding-bottom: calc(80px - ((100 / 476) * (100vw - 1024px)));
}

.info__content.info__content--02{
  padding-bottom: calc(90px - ((100 / 476) * (100vw - 1024px)));
}

.info__content-wrap {
  display: flex;
  gap: clamp(30px, 5.066666666666666vw, 76px);
}

.info__content.info__content--02 .info__content-wrap {
  flex-direction: row-reverse;
  gap: clamp(30px, 5.333333333333333vw, 80px);
  margin-top: 6.2rem;
}

.info__content-left {
  flex: 0 1 62.75%;
  margin-top: 2.9rem;
}

.info__content.info__content--02 .info__content-left{
  flex: 0 1 62.5%;
  margin-top: 4.7rem;
}

.info__content-title {
  font-size: 2.4rem;
  line-height: calc(48 / 24);
  letter-spacing: 0.05em;
  font-weight: $medium;
  font-feature-settings: "palt";
}

.info__content-text {
  font-size: 1.6rem;
  line-height: calc(36 / 16);
  letter-spacing: 0.15em;
  margin-top: 0.7rem;
  font-feature-settings: "palt";
}

.info__content-right {
  flex: 0 1 37.25%;
  aspect-ratio: 420 / 420;
}

.info__content.info__content--02 .info__content-right{
  flex: 0 1 37.5%;
}

.info__content-right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.info__item01 {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  position: absolute;
  bottom: 9rem;
  left: 31.1%;
  transform: translateY(100%);
}

.info__item01-img {
  width: 29.2rem;
  margin-bottom: 4.8rem;
  aspect-ratio: 292 / 292;
}

.info__item01-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__item01-right {
  position: relative;
}

.info__item01-right::after {
  position: absolute;
  content: "";
  top: -72px;
  left: -25px;
  width: 8rem;
  height: 6.2rem;
  background-image: url(../../images/icon_arrow01.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item01-title {
  font-size: 2rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
}

.info__item01-text {
  font-size: 1.5rem;
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  font-feature-settings: "palt";
}

.info__item02 {
  margin-top: 21rem;
  padding-left: 6rem;
}

.info__item02-img {
  width: 32.8rem;
  aspect-ratio: 328 / 155;
}

.info__item02-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__content-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.7rem;
}

.info__content-link a {
  position: relative;
}

.info__content-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $red;
  left: 0;
  bottom: -0.5rem;
  transform: scale(1, 1);
  transform-origin: left top;
  transition: transform .5s;
}

.info__content-link a:hover::after {
  transform: scale(0, 1);
  transform-origin: right top;
}


.info__icon {
  height: 15px;
  width: 19px;
  fill: $red;
  margin-top: 5px;
}

.info__icon-img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}


.info__link-text {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  font-feature-settings: "palt";
  color: $red;
}

.info__item03 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin-top: -19.9rem;
  padding-right: 52px;
}

.info__item03-wrap {
  position: relative;
}

.info__item03-wrap::before {
  position: absolute;
  content: "";
  top: 116px;
  left: -187px;
  width: 13.65rem;
  height: 19.1rem;
  background-image: url(../../images/info_img06.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-img {
  width: 29.2rem;
  aspect-ratio: 292 / 292;
}

.info__item03-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info__item03-comment {
  position: relative;
  margin-top: 1.8rem;
  padding-left: 0.6rem;
}

.info__item03-comment::after {
  position: absolute;
  content: "";
  top: -79px;
  left: -31px;
  width: 3.6rem;
  height: 9.6rem;
  background-image: url(../../images/icon_arrow02.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.info__item03-title {
  font-size: 2rem;
  font-weight: $bold;
  color: $gold;
  letter-spacing: 0.05em;
}

.info__item03-text {
  font-size: 1.5rem;
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 1rem;
  font-feature-settings: "palt";
}