@use "../global" as *;

/*=========================================================
# info
=========================================================*/

.info__head-img {
  height: 25rem;
}

.info__head-img img {
  height: 25rem;
}

.info__title {
  margin-top: 3.9rem;
  font-size: 2.4rem;
}

.info__text {
  text-align: left;
  margin-top: 1.7rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
  line-height: calc(27 / 13);
  width: 89.5%;
}

.info__items {
  margin-top: 2.7rem;
}

.info__content {
  position: relative;
  padding-bottom: 0;
}

.info__content.info__content--02 {
  padding-bottom: 0;
}

.info__content-wrap {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.info__content.info__content--02 .info__content-wrap {
  flex-direction: column;
  margin-top: 3.2rem;
  gap: 3.4rem;
}

.info__content-left {
  flex: 0 1 65%;
  margin-top: 0;
}

.info__content-title {
  font-size: 1.5rem;
  line-height: calc(48 / 24);
  letter-spacing: 0.05em;
}

.info__content-text {
  font-size: 1.3rem;
  line-height: calc(25 / 13);
  letter-spacing: 0.05em;
  margin-top: 0;
}

.info__content-right {
  flex: 0 1 35%;
  aspect-ratio: 420 / 420;
  width: 61%;
  margin-left: auto;
}

.info__content.info__content--02 .info__content-wrap .info__content-right {
  margin-right: auto;
  margin-left: 0;
}

.info__content-right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.info__item01 {
  align-items: flex-start;
  flex-direction: column;
  gap: 1.4rem;
  position: static;
  transform: translateY(0);
  margin-top: 1.9rem;
  padding-left: 1.9rem;
}

.info__item01-img {
  width: 18.3rem;
  margin-bottom: 0;
  aspect-ratio: 292 / 292;
}


.info__item01-right {
  position: relative;
  padding-left: 5.1rem;
}

.info__item01-right::after {
  top: -2.2rem;
  left: 13.9rem;
  width: 5rem;
  height: 3.9rem;
}

.info__item01-title {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.info__item01-text {
  font-size: 1.2rem;
  line-height: calc(18 / 12);
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 0.3rem;
}

.info__item02 {
  margin-top: 2.7rem;
  padding-left: 0;
}

.info__item02-img {
  max-width: 30rem;
  width: 58%;
  aspect-ratio: 328 / 155;
  margin-left: auto;
  margin-right: auto;
}

.info__content-link {
  gap: 0.6rem;
  margin-top: 1.2rem;
}


.info__icon {
  height: 0.95rem;
  width: 1.4rem;
  fill: $red;
}


.info__link-text {
  font-size: 1.3rem;
  color: $red;
}

.info__item03 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin-top: 2.65rem;
  padding-right: 1.7rem;
}

.info__item03-wrap::before {
  top: 13.8rem;
  left: -12.35rem;
  width: 8.25em;
  height: 11.7rem;
}

.info__item03-img {
  width: 18.5rem;
  aspect-ratio: 292 / 292;
}


.info__item03-comment {
  position: relative;
  margin-top: 0.8rem;
}

.info__item03-comment::after {
  top: -4.7rem;
  left: -1.8rem;
  width: 2.15rem;
  height: 6.05rem;
}

.info__item03-title {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.info__item03-text {
  font-size: 1.2rem;
  line-height: calc(18 / 12);
  color: $gold;
  letter-spacing: 0.15em;
  margin-top: 0.4rem;
}