@use "../global" as *;

/*=========================================================
# info
=========================================================*/

.info__items {
  padding-bottom: 42.5rem;
}

.info__content {
  height: auto;
}

.info__item01-comment {
  position: absolute;
  bottom: -9.4rem;
  right: -12.1rem;
}

.info__item01-title::after {
  top: -4.9rem;
  left: 10rem;
}

.info__item03 {
  bottom: -31rem;
  z-index: -1;
}

.info__content.info__content--02 .info__content-left {
  padding-bottom: 0;
}