@use "../global" as *;
/*=========================================================
# insta-button
=========================================================*/

.insta-button a {
	height: 3.525rem;
	width: 12.45rem;
}

.insta-button a:hover {
	height: 3.525rem;
	width: 12.45rem;
}

.insta-button a::after {
	height: 1.65rem;
	width: 1.35rem;
}