@use "../global" as *;
/*=========================================================
# insta-button
=========================================================*/

.insta-button a {
	height: 2.35rem;
	width: 8.3rem;
}

.insta-button a::after {
	height: 1.1rem;
	width: 0.9rem;
}