@use "../global" as *;

/*=========================================================
# link-button
=========================================================*/
.link-button {
  background-color: $red;
  display: block;
  max-width: 36rem;
  width: 100%;
  transition: background 0.3s;
}

.link-button:hover{
  background-color: $gold;
}

.link-button a {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: clamp(8px, 0.8666666666666667vw, 13px);
  padding: 1.9rem;
  transition: transform 0.3s;
}

.link-button__text {
  color: $white;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: $bold;
  letter-spacing: 0.08em;
}

.link-button__arrow {
  transition: transform 0.3s;
  width: clamp(20px, 3.2666666666666666vw, 49px);
  aspect-ratio: 49 / 18;
}

.link-button a:hover .link-button__arrow {
  transform: translateX(30%);
}

.link-button__arrow img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
}


/* black
--------------------------------------------------*/
.link-button.link-button--black {
  background-color: $black;
}

.link-button.link-button--black .link-button__text {
  color: $gold;
  font-size: clamp(14px, 1vw, 16px);
}

.link-button.link-button--black .link-button__arrow {
  width: clamp(20px, 3.2666666666666666vw, 49px);
}
