@use "../global" as *;

/*=========================================================
# link-button
=========================================================*/
.link-button {
  background-color: $red;
  display: block;
  max-width: 26rem;
  width: 100%;
}

.link-button a {
  align-items: center;
  display: flex;
  gap: 1.1rem;
  padding: 0.4rem;
  transition: transform 0.3s;
}

.link-button__text {
  color: $white;
  font-size: 1.2rem;
  font-weight: $bold;
  letter-spacing: 0;
}

.link-button__arrow {
  transition: transform 0.3s;
  width: 3.1rem;
  aspect-ratio: 33 / 33;
}

.link-button a:hover .link-button__arrow {
  transform: translateX(30%);
}

/* black
--------------------------------------------------*/
.link-button.link-button--black {
  background-color: $black;
}

.link-button.link-button--black .link-button__text {
  color: $gold;
  font-size: 1.2rem;
}

.link-button.link-button--black .link-button__arrow {
  width: 3.1rem;
}