@use "../global" as *;

/*=========================================================
# link-button
=========================================================*/
.link-button {
  background-color: $red;
  display: block;
  max-width: 36rem;
  width: 100%;
}

.link-button a {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: clamp(8px, 0.8666666666666667vw, 13px);
  padding: 1.9rem;
  transition: transform 0.3s;
}

.link-button__text {
  color: $white;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: $bold;
  letter-spacing: 0.08em;
}

.link-button__arrow {
  transition: transform 0.3s;
  width: clamp(20px, 3.2666666666666666vw, 49px);
  aspect-ratio: 49 / 18;
}

.link-button a:hover .link-button__arrow {
  transform: translateX(30%);
}

.link-button__arrow img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}


/* black
--------------------------------------------------*/
.link-button.link-button--black {
  background-color: $black;
}

.link-button.link-button--black .link-button__text {
  color: $gold;
  font-size: clamp(14px, 1vw, 16px);
}

.link-button.link-button--black .link-button__arrow {
  width: clamp(20px, 3.2666666666666666vw, 49px);
}


/*=========================================================
# パターン02
=========================================================*/

.link-button02 {
  background-color: $red;
  display: inline-block;
  transition: opacity 0.3s;
}

.link-button02:hover {
  opacity: 0.7;
}

.link-button02 a {
  align-items: center;
  display: flex;
  gap: 1.3rem;
  padding: 2.1rem 6.0rem;
  transition: transform 0.3s;
}

.link-button02__text {
  color: $white;
  font-size: 1.6rem;
  font-weight: $bold;
  letter-spacing: 0.05em;
}

.link-button02__arrow {
  transition: transform 0.3s;
  width: 4.9rem;
  aspect-ratio: 33 / 33;
}

.link-button02__arrow img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/*=========================================================
# パターン03
=========================================================*/

.link-button03 {
  background-color: $red;
  display: inline-block;
  left: 0;
  position: relative;
  transition: all 0.3s;
}

.link-button03:hover {
  box-shadow: 0 4px 8px rgba(255, 245, 157, 0.8);
  left: 5px;
}

.link-button03 a {
  align-items: center;
  display: flex;
  gap: 1.3rem;
  padding: 2.1rem 6rem;
  transition: transform 0.3s;
}

.link-button03__text {
  color: $white;
  font-size: 1.6rem;
  font-weight: $bold;
  letter-spacing: 0.05em;
}

.link-button03__arrow {
  transition: transform 0.3s;
  width: 4.9rem;
  aspect-ratio: 33 / 33;
}

.link-button03__arrow img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}