@use "../global" as *;

/*=========================================================
# content
=========================================================*/
.manekineko-content {
  background-color: $red;
  padding-top: 4rem;
}

.manekineko-content__inner.inner {
  max-width: 114rem;
}