@use "../global" as *;

/*=========================================================
# manekineko
=========================================================*/

.manekineko__item {
  background-image: url(../../images/manekineko_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.manekineko__item-img {
  width: 100%;
  max-width: 125.5rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  aspect-ratio: 1195.5 / 345;
}

.manekineko__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manekineko__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.1rem;
  z-index: 1;
  position: relative;
}