@use "../global" as *;

/*=========================================================
# map
=========================================================*/

.map__container {
  flex-direction: column;
  gap: 0.2rem;
}

.map__title {
  flex: 0 1 auto;
  width: 38%;
  margin-top: 0;
}

.map__img {
  flex: 0 1 auto;
  width: 100vw;
  margin-left: calc(50% - 50VW);
  margin-right: calc(50% - 50VW);
  aspect-ratio: 756 / 804;
}