@use "../global" as *;
/*=========================================================
# nav
=========================================================*/

.nav {
  padding: 7.5rem 0;
}


.nav__img {
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49.8rem;
  aspect-ratio: 498 / 383.5;
}


.nav__items {
  left: calc(50% + 45px);
  position: absolute;
  top: 36.2%;
  transform: translate(-50%, -50%);
}

.nav__item.nav__item--space {
  margin-top: 20px;
}

.nav__item {
  width: 16rem;
}

.nav__item a {
  display: block;
  padding: 1.2rem;
}

.nav__item.nav__item--link {
  margin-top: 1.5rem;
}

.nav__item.nav__item--link a {
  padding-left: 1.2rem;
}


.nav__item a p {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

.nav__item.nav__item--link a p {
  font-size: 1.2rem;
}


.nav__flex-wrap {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.nav__icon {
  fill: $black;
  height: 0.95rem;
  width: 1.25rem;
}