@use "../global" as *;
/*=========================================================
# nav
=========================================================*/

.nav {
	background-color: $gold;
	bottom: 0;
	content: "";
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	overflow-y: scroll;
	padding: 15rem 0;
}

.nav.is-active {
	display: block;
}

.nav__inner {
	height: inherit;
	width: inherit;
}

.nav__container {
	height: inherit;
	position: relative;
	width: inherit;
}

.nav__img {
	position: absolute;
	transform: translateX(-50%);
	width: 82.2rem;
	top: 2.2%;
	left: 51%;
	aspect-ratio: 823 / 600;
}

.nav__img img {
	display: block;
	height: 100%;
	width: 100%;
}

.nav__items {
	position: absolute;
	top: 11.8%;
	left: calc(50% - 53px);
}

.nav__item.nav__item--link {
	margin-top: 1.1rem;
}

.nav__item a {
	display: block;
	padding: 1.82rem;
}

.nav__item.nav__item--link a {
	padding-left: 2.1rem;
}

.nav__item a p {
	font-size: 2.4rem;
	letter-spacing: 0.05em;
	font-weight: $medium;
	font-feature-settings: "palt";
	position: relative;
	width: fit-content;
}

.nav__item.nav__item--link a p {
	font-size: 2rem;
}

.nav__item a p::after {
	background-color: $black;
	bottom: -5px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: right top;
	transition: transform 0.5s;
	width: 100%;
}

.nav__item a:hover p::after {
	transform: scale(1, 1);
	transform-origin: left top;
}

.nav__flex-wrap {
	align-items: center;
	display: flex;
	gap: 1.75rem;
}

.nav__icon {
	fill: $black;
	height: 1.5rem;
	width: 1.9rem;
}

.nav__link {
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}