@use "../global" as *;

/*=========================================================
# single-pagination
=========================================================*/
.single-pagination__inner.inner {
  max-width: 88rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.single-pagination__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-pagination__prev,
.single-pagination__next {
  padding: 0.282rem 0;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  position: relative;
  transition: opacity .3s;
  word-break: break-all;
  width: 50%;
}

.single-pagination__prev {
  padding-left: 3.6rem;
}

.single-pagination__next {
  padding-right: 3.6rem;
  text-align: right;
}

.single-pagination__prev:hover,
.single-pagination__next:hover {
  opacity: 0.7;
}

.single-pagination__prev:after,
.single-pagination__next:after {
  position: absolute;
  content: "";
  width: 2.9rem;
  height: 2.9rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid $gold;
  border-radius: 50%;
  transition: background .3s;
}

.single-pagination__prev:after {
  left: 0;
}

.single-pagination__next:after {
  right: 0;
}

.single-pagination__prev:hover:after,
.single-pagination__next:hover:after {
  background-color: $gold;
}

.single-pagination__prev::before,
.single-pagination__next::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../common/images/icon_pagination.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.single-pagination__prev::before {
  left: 1.2rem;
}

.single-pagination__next::before {
  right: 1.2rem;
  transform: translateY(-50%) rotate(180deg);
}

.single-pagination__prev:hover::before,
.single-pagination__next:hover::before {
  background-image: url(../../common/images/icon_pagination_hover.png);
}


.single-pagination__return {
  margin-top: 3.9rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}